<!DOCTYPE html>
<html>
<head>
    <title>测试结果汇总</title>
    <style>
        .fail {
            color: red;
			width: 7emem;
			text-align: center;
        }
        .success {
            color: green;
			width: 7emem;
			text-align: center;
        }
		.details-col-elapsed {
			width: 7em;
			text-align: center;
		}
		.details-col-msg {
			width: 7em;
			text-align: center;
			background-color:#ccc;
		}

    </style>
</head>
<body>
<div>
<div><h2>Test Statistics</h2></div>

    <table width="800" border="thin" cellspacing="0" cellpadding="0">
        <tr  width="600">
            <th width="300" class='details-col-msg'>案例名称</th>
            <th class='details-col-msg'>执行结果</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>耗时</th>
        </tr>
        {% for r in results %}
        <tr width="600">
            <td class='details-col-elapsed'>
                {% if r.module %}
                    <a href="log/{{r.module}}/{{r.name}}/log.html" target="view_window">{{r.name}}</a>
                {% else %}
                    <a href="log/{{r.name}}/log.html" target="view_window">{{r.name}}</a>
                {% endif %}
            </td>
            <td class="{{'success' if r.result else 'fail'}}">{{"成功" if r.result else "失败"}}</td>
            <td>{{r.start_time}}</td>
            <td>{{r.end_time}}</td>
            <td>{{r.sum_time}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>